<%= form_for @adopter do |f| %>
<ul>
  <% if @adopter.errors.any? %>
    <% @adopter.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
</ul>

<h1>Personal Info</h1>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.label :age %><br>
  <%= f.number_field :age, min: 18 %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  <%= f.label :location %><br>
  <%= f.text_field :location %><br>
  <%= f.label :image_url %><br>
  <%= f.text_field :image_url %><br>
<h1>Household Info</h1>
  <%= f.label :num_of_cats %>
  <%= f.number_field :num_of_cats, min: 0 %>

<h1>Preferences</h1>
  <%= f.label :breed_pref %><br>
  <%= f.text_field :breed_pref %><br>
  <%= f.label :min_age_pref, min: 1 %><br>
  <%= f.number_field :min_age_pref %><br>
  <%= f.label :max_age_pref %><br>
  <%= f.number_field :max_age_pref %><br>
  <%= f.label :temperament_pref %><br>
  <%= f.text_field :temperament_pref %><br>

  <br>
<%= f.submit %>
<% end %>
